@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

/* Prevent image flickering during page transitions */
img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Add smooth transition for images */
.image-transition {
  transition: opacity 0.3s ease-in-out;
}

/* Ensure images maintain their aspect ratio during load */
.image-container {
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6; /* Light gray background while loading */
}

/* Add a subtle loading animation */
@keyframes imageLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-loading {
  animation: imageLoad 0.3s ease-in-out;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* background-color: #ccc; */
  color: #666;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --context-card-border: hsla(0, 0%, 92%, 1);
    --ds-blue-200: oklch(96.29% 0.0195 250.59);
    --ds-blue-700: oklch(57.61% 0.2508 258.23);
    --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
    --ds-red-200: oklch(95.41% 0.0299 14.252646656611997);
    --ds-red-700: oklch(62.56% 0.2524 23.03);
    --ds-red-900: oklch(54.99% 0.232 25.29);
    --ds-amber-200: oklch(96.81% 0.0495 90.24227879900472);
    --ds-amber-700: oklch(81.87% 0.1969 76.46);
    --ds-amber-900: oklch(52.79% 0.1496 54.65);
    --ds-green-200: oklch(96.92% 0.037 147.15);
    --ds-green-700: oklch(64.58% 0.1746 147.27);
    --ds-green-900: oklch(51.75% 0.1453 147.65);
    --ds-teal-300: oklch(94.92% 0.0478 182.07);
    --ds-teal-700: oklch(64.92% 0.1572 181.95);
    --ds-teal-900: oklch(52.08% 0.1251 182.93);
    --ds-purple-200: oklch(96.73% 0.0228 309.8);
    --ds-purple-700: oklch(55.5% 0.3008 306.12);
    --ds-purple-900: oklch(47.18% 0.2579 304);
    --ds-pink-300: oklch(93.83% 0.0451 356.29);
    --ds-pink-700: oklch(63.52% 0.238 1.01);
    --ds-pink-900: oklch(53.5% 0.2058 2.84);
    --ds-gray-100: hsla(0, 0%, 95%, 1);
    --ds-gray-200: hsla(0, 0%, 92%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 9%, 1);
    --ds-trial-start: rgb(0, 112, 243);
    --ds-trial-end: rgb(248, 28, 229);
    --ds-turbo-start: #ff1e56;
    --ds-turbo-end: #0096ff;
    --ds-blue-100: oklch(97.32% 0.0141 251.56);
    --ds-blue-600: oklch(73.08% 0.1583 248.133320980386);
    --ds-gray-400: hsla(0, 0%, 92%, 1);
    --ds-gray-500: hsla(0, 0%, 79%, 1);
    --ds-gray-900: hsla(0, 0%, 40%, 1);
    --ds-background-100: hsla(0, 0%, 100%, 1);
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --context-card-border: hsla(0, 0%, 18%, 1);
    --ds-blue-200: oklch(25.45% 0.0811 255.8);
    --ds-blue-700: oklch(57.61% 0.2321 258.23);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-red-200: oklch(25.93% 0.0834 19.02);
    --ds-red-700: oklch(62.56% 0.2234 23.03);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-amber-200: oklch(24.95% 0.0642 64.78);
    --ds-amber-700: oklch(81.87% 0.1969 76.46);
    --ds-amber-900: oklch(77.21% 0.1991 64.28);
    --ds-green-200: oklch(27.12% 0.0895 150.09);
    --ds-green-700: oklch(64.58% 0.199 147.27);
    --ds-green-900: oklch(73.1% 0.2158 148.29);
    --ds-teal-300: oklch(31.5% 0.0767 180.99);
    --ds-teal-700: oklch(64.92% 0.1403 181.95);
    --ds-teal-900: oklch(74.56% 0.1765 182.8);
    --ds-purple-200: oklch(25.91% 0.0921 314.41);
    --ds-purple-700: oklch(55.5% 0.2186 306.12);
    --ds-purple-900: oklch(69.87% 0.2037 309.51);
    --ds-pink-300: oklch(31.15% 0.1067 355.93);
    --ds-pink-700: oklch(63.52% 0.2346 1.01);
    --ds-pink-900: oklch(69.36% 0.2223 3.91);
    --ds-gray-100: hsla(0, 0%, 10%, 1);
    --ds-gray-200: hsla(0, 0%, 12%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 93%, 1);
    --ds-blue-100: oklch(22.17% 0.069 259.89);
    --ds-blue-600: oklch(64.94% 0.1982 251.8131841760864);
    --ds-gray-400: hsla(0, 0%, 18%, 1);
    --ds-gray-500: hsla(0, 0%, 27%, 1);
    --ds-gray-900: hsla(0, 0%, 63%, 1);
    --ds-background-100: hsla(0,0%,4%, 1);
  }
  .theme {
    --color-context-card-border: var(--context-card-border);
    --color-blue-200: var(--ds-blue-200);
    --color-blue-700: var(--ds-blue-700);
    --color-blue-900: var(--ds-blue-900);
    --color-red-200: var(--ds-red-200);
    --color-red-700: var(--ds-red-700);
    --color-red-900: var(--ds-red-900);
    --color-amber-200: var(--ds-amber-200);
    --color-amber-700: var(--ds-amber-700);
    --color-amber-900: var(--ds-amber-900);
    --color-green-200: var(--ds-green-200);
    --color-green-700: var(--ds-green-700);
    --color-green-900: var(--ds-green-900);
    --color-teal-300: var(--ds-teal-300);
    --color-teal-700: var(--ds-teal-700);
    --color-teal-900: var(--ds-teal-900);
    --color-purple-200: var(--ds-purple-200);
    --color-purple-700: var(--ds-purple-700);
    --color-purple-900: var(--ds-purple-900);
    --color-pink-300: var(--ds-pink-300);
    --color-pink-700: var(--ds-pink-700);
    --color-pink-900: var(--ds-pink-900);
    --color-gray-100: var(--ds-gray-100);
    --color-gray-200: var(--ds-gray-200);
    --color-gray-700: var(--ds-gray-700);
    --color-gray-1000: var(--ds-gray-1000);
    --color-trial-start: var(--ds-trial-start);
    --color-trial-end: var(--ds-trial-end);
    --color-turbo-start: var(--ds-turbo-start);
    --color-turbo-end: var(--ds-turbo-end);
    --color-blue-100: var(--ds-blue-100);
    --color-blue-600: var(--ds-blue-600);
    --color-gray-400: var(--ds-gray-400);
    --color-gray-500: var(--ds-gray-500);
    --color-gray-900: var(--ds-gray-900);
    --color-background-100: var(--ds-background-100);
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}